body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: "Lato", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.chart canvas {
  height: 18rem !important;
  /* margin: 0 auto; */
}


/* SnapHeader */
.snap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.search-bar {
  width: 412px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 1rem;
}

.filter-dropdown {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* SnapGrid */
.snap-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.snap-card {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.snap-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.snap-version {
  font-size: 0.9rem;
  color: #777;
}

/* SnapDetailsPanel */
.snap-details-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: -webkit-fill-available;
  padding: 2rem;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 9;
}


.form-container {
  width: 30%;
  padding: 16px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  height: min-content;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input,
form select,
form textarea {
  display: block;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 12px;
  padding: 8px;
}

form button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.snap-manager {
  position: absolute;
  top: 0;
  width: 100%;
  background: white;
  height: 100%;
  display: flex;
  justify-content: center;
}